{% extends 'layout.njk' %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url({{student.avatar_url}}) no-repeat center center / cover;">

    </section>

    <section class="details">
      <h3>Detalhes do Estudante</h3>

      <div class="item">
        <div>Nome</div>
        <div>{{student.name}}</div>
      </div>

      <div class="item">
        <div>Email</div>
        <div>{{student.email}}</div>
      </div>

      <div class="item">
        <div>Data de Nascimento</div>
        <div>{{student.date_birth}}</div>
      </div>

      <div class="item">
        <div>Ano Escolar</div>
        <div>{{student.school}}</div>
      </div>

      <div class="item">
        <div>Carga Horária</div>
        <div>{{student.carg_hour}} Horas</div>
      </div>

       <form id="form-delete" action="/students?_method=DELETE" method="POST">
        <input type="hidden" name="id" value={{student.id}}>
        
        <a href="/students/{{student.id}}/edit" class="buttonEdit">Editar</a>
        <button type="submit">Excluir</button>
      </form>
    </section>
  </div>
{% endblock content %}