@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-text: #322153;
  --color-green: #34CB79;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #F0F0F5;
}

/* === HEADER/MENU === */

header {
  width: 100%;
  background: #FFFFFF;
  padding: 32px;
  text-align: center;
}

.links {
  font-size: 22px;
}

.links a {
  text-decoration: none;
  color: #777;
  position: relative;
}

.links a + a {
  margin-left: 32px;
}

.links a.active {
  color: var(--color-text);
  font-weight: bold;
}

.links a:hover {
  color: var(--color-text);
}

.links a::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--color-text);
  
  position: absolute;
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 700ms ease-in-out;
}

/* === CARD/PAGE TEACHERS === */
.card {
  width: 100%;
  max-width: 800px;
  min-height: 400px;

  background-color: #fff;
  margin: 45px auto;

  display: grid;
  grid-template-columns: 40% 60%;

  box-shadow: 0 0 1em -2px #000;

  animation: left 700ms ease-out;
}

@keyframes left {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }

  to {
    opacity: 1;
  }
}

.details {
  padding: 32px;
}

.details .item {
  border-top: 1px solid #777;
  padding: 16px 0;
}

.details .item:first-of-type{
  border: none;
}

.details h3,
.details .item div:nth-child(1) {
  font-size: 14px;
  color: #A0A0B2;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.7px;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-text);
}

.details .item div:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color: #6C6C80;
}

.details .item div:nth-child(2) span,
.table-container tbody tr td span.subjects {
  color: var(--color-text);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--color-green);
  padding: 8px 16px;
  border-radius: 16px;
  margin-right: 5px;
  margin-top: 5px;

  display: inline-block;
}

/* === FORM = TEACHERS === */
input, select {
  width: 100%;
  padding: 12px;
  outline: none;

  font-size: 18px;
  color: #6C6C80;
  font-weight: bold;

  background: #F0F0F5;
  border-radius: 4px;
}

input[type="radio"] {
  width: initial;
  margin-right: 4px;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

button[type="submit"],
a.buttonEdit {
  padding: 16px 32px;
  background-color: var(--color-green);
  color: var(--color-text);
  border-radius: 4px;
  margin-top: 32px;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
}

button[type="submit"]:hover,
a.buttonEdit:hover {
  background-color: #2FB86E;
}

a.buttonEdit {
  display: block;
  text-align: center;
  text-decoration: none;
}

#form-delete {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#form-delete button[type="submit"] {
  background-color: #ff4f4f;
}

#form-delete button[type="submit"]:hover {
  background-color: #EB1E1C;
}

/* === INDEX / TEACHERS === */
.table-container {
  display: block;
  padding: 40px;
}

.table-container table {
  border-spacing: 0;
}

.table-container thead tr th,
.table-container tbody tr td {
  text-align: center;
}

.table-container tbody tr td {
  color: var(--color-text);
}

.table-container th,
.table-container td {
  padding: 16px;
  border-bottom: 1px solid #777;
}

.table-container th {
  text-transform: uppercase;
  color: #6C6C80;
}

.table-container tbody tr:last-child td {
  border: none;
}

.table-container tbody tr td div {
  display: grid;
  grid-template-columns: 45px 1fr;
  align-items: center;
}

.table-container tbody tr td:first-child span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--color-green);

  background-position: center;
  background-size: cover;

  box-shadow: 3px 1px 6px -4px black;
}

.table-container tbody tr td:last-child a,
.table-container > a {
  background-color: var(--color-green);
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text);
  font-size: 12px;
  font-weight: bold;
  border-radius: 6px;
}

.table-container > a {
  display: inline-block;
  margin-bottom: 16px;
}

.table-container tbody tr td:last-child a:hover,
.table-container a:hover {
  background-color: #2FB86E;
}