<form id="form-delete" action="/students?_method=DELETE" method="POST">
  <input type="hidden" name="id" value={{student.id}}>
  
  <a href="/students/{{student.id}}/edit" class="buttonEdit">Editar</a>
  <button type="submit">Excluir</button>
</form>

<script src="./js/scripts.js"></script>