<div class="item">
  <div>Avatar URL *</div>
  <div>
    <input type="url" name="avatar_url" placeholder="https://" value="{{student.avatar_url}}">
  </div>
</div>

<div class="item">
  <div>Nome Completo *</div>
  <div>
    <input type="text" name="name" placeholder="Seu nome completo" value="{{student.name}}">
  </div>
</div>

<div class="item">
  <div>Email *</div>
  <div>
    <input type="email" name="email" placeholder="Seu email" value="{{student.email}}">
  </div>
</div>

<div class="item">
  <div>Data de Nascimento *</div>
  <div>
    <input type="date" name="birth_date" value="{{student.birth_date}}">
  </div>
</div>

<div class="item">
  <div>Ano Escolar *</div>
    <div>
      <select name="education_level">
        <option selected disabled label="Selecione o seu ano escolar"></option>
        <optgroup label='Ensino Fundamental'>
          <option value="5_ensino_fundamental" {% if student.education_level == '5_ensino_fundamental'%} selected {% endif %}>5° Ano - Ensino Fundamental</option>
          <option value="6_ensino_fundamental" {% if student.education_level == '6_ensino_fundamental'%} selected {% endif %}>6° Ano - Ensino Fundamental</option>
          <option value="7_ensino_fundamental" {% if student.education_level == '7_ensino_fundamental'%} selected {% endif %}>7° Ano - Ensino Fundamental</option>
          <option value="8_ensino_fundamental" {% if student.education_level == '8_ensino_fundamental'%} selected {% endif %}>8° Ano - Ensino Fundamental</option>
          <option value="9_ensino_fundamental" {% if student.education_level == '9_ensino_fundamental'%} selected {% endif %}>9° Ano - Ensino Fundamental</option>
        </optgroup>
        <optgroup label='Ensino Médio'>
          <option value="1_ensino_medio" {% if student.education_level == '1_ensino_medio'%} selected {% endif %}>1° Ano - Ensino Médio</option>
          <option value="2_ensino_medio" {% if student.education_level == '2_ensino_medio'%} selected {% endif %}>2° Ano - Ensino Médio</option>
          <option value="3_ensino_medio" {% if student.education_level == '3_ensino_medio'%} selected {% endif %}>3° Ano - Ensino Médio</option>
        </optgroup>
      </select>
    </div>
</div>

<div class="item">
  <div>Carga Horária *</div>
  <div>
    <input type="number" name="workload" value="{{student.workload}}" placeholder='Digite o número da carga horária'>
  </div>
</div>

<div class="item">
  <div>Professores *</div>
    <div>
      <select name="teacher">
        <option selected disabled>Selecione um professor</option>
        {% for teacher in teacherOptions %}
          <option value="{{teacher.id}}" {% if student.teacher_id == teacher.id %} selected {% endif %}>{{teacher.name}}</option>
        {% endfor %}
      </select>
    </div>
</div>