{% extends 'layout.njk' %}

{% block content %}
  <div class="card table-container">
    <a href="/students/create">Adicionar Estudante</a>
    <table style='width: 100%'>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Ano Escolar</th>
          <th>Ação</th>
        </tr>
      </thead>

      <tbody>
        {% for student in students %}
          <tr>
            <td>
              <div>
                <span style='background-image: url({{student.avatar_url}})'></span>
                {{student.name}}
              </div>
            </td>
            <td>{{student.email}}</td>
            <td>
              {% if student.education_level == '5_ensino_fundamental' %}5° Ano - Ensino Fundamental{% endif %}
              {% if student.education_level == '6_ensino_fundamental' %}6° Ano - Ensino Fundamental{% endif %}
              {% if student.education_level == '7_ensino_fundamental' %}7° Ano - Ensino Fundamental{% endif %}
              {% if student.education_level == '8_ensino_fundamental' %}8° Ano - Ensino Fundamental{% endif %}
              {% if student.education_level == '9_ensino_fundamental' %}9° Ano - Ensino Fundamental{% endif %}
              {% if student.education_level == '1_ensino_medio' %}1° Ano - Ensino Médio{% endif %}
              {% if student.education_level == '2_ensino_medio' %}2° Ano - Ensino Médio{% endif %}
              {% if student.education_level == '3_ensino_medio' %}3° Ano - Ensino Médio{% endif %}
            </td>
            <td><a href="/students/{{student.id}}">Ver</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}