{% extends 'layout.njk' %}

{% block content %}
  <div class="card table-container">
    <div class="header">
      <a class="addTeacher" href="/teachers/create">Adicionar Professor</a>

      <form action="/teachers" method="GET">
        <input type="text" name="filter" placeholder="Filtre por Nome ou Acompanhamento" value={{filter}}>
        <button type="submit">Filtrar</button>
      </form>
    </div>

    <table style='width: 100%'>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Acompanhamento</th>
          <th>Ação</th>
        </tr>
      </thead>

      <tbody>
        {% for teacher in teacher %}
          <tr>
            <td>
              <div>
                <span style='background-image: url({{teacher.avatar_url}})'></span>
                {{teacher.name}}
              </div>
            </td>
            <td>
              {% for subject in teacher.subjects_taught.split(',') %}
                <span class='subjects'>{{subject}}</span>
              {% endfor %}
            </td>
            <td><a href="/teachers/{{teacher.id}}">Ver</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}