{% extends 'layout.njk' %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url({{teacher.avatar_url}}) no-repeat center center / cover;">

    </section>

    <section class="details">
      <h3>Detalhes do Professor</h3>

      <div class="item">
        <div>Nome</div>
        <div>{{teacher.name}}</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{teacher.age}} Anos</div>
      </div>

      <div class="item">
        <div>Grau de Escolaridade</div>
        <div>{{teacher.graduation}}</div>
      </div>

      <div class="item">
        <div>Tipo de Aula</div>
        <div>{{'Presencial' if teacher.type_class == 'presential' else 'À distancia'}}</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          {% for subject in teacher.subjects %}
            <span>{{subject}}</span>
          {% endfor %}
        </div>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>{{teacher.created_at}}</div>
      </div>

      {% include 'teachers/delete.njk' %}
      
    </section>
  </div>
{% endblock content %}